.img{
    align-items: center;
}
.micro{
    padding-right: 20px;
    vertical-align: center;
}
.wal{
    padding-right: 20px;
    vertical-align: center;
}
.acc{
    padding-right: 20px;
    vertical-align: center;
}
pay{
    padding-right: 20px;
    vertical-align: center;
}
.adobe{
    padding-right: 20px;
    vertical-align: center;
}